.navbar-inverse {
  background-color: #424242;
  border-color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
}

a.navbar-brand.main-header {
  background-color: #67B9BF;
  color: #FFF;
}
